registry=https://registry.npmjs.org/

progress=true
loglevel=warn

save-exact=true
engine-strict=true
audit=true
audit-level=moderate
fund=false
prefer-offline=true

peer-dependency-rules.allow-any=false
